@import '~payload/scss';
:root {
    --color-base-0: rgb(18, 18, 18);
    --color-base-50: rgb(209,214, 214);
    --color-base-100: rgb(87, 89, 89); 
    --color-base-150:  rgb(38, 104, 104);
    --color-base-200: rgb(240, 230, 230);
    --color-base-250: rgb(238, 93, 93);
    --color-base-300: rgb(207, 93, 93);
    --color-base-350: rgb(25, 14, 36);
    --color-base-400: rgb(124, 38, 38);
    --color-base-450: rgb(16, 16, 15);
    --color-base-500: rgb(162, 49, 49);
    --color-base-550: rgb(165, 109, 109);
    --color-base-600: rgb(76, 136, 136);
    --color-base-650: rgba(199, 47, 47, 0.871);
    --color-base-700: rgb(43, 8, 42);
    --color-base-750:rgb(137, 180, 190);;
    --color-base-800:  rgb(184, 188, 187);
    --color-base-850: rgb(188, 205, 205);
    --color-base-900: rgb(181, 155, 155);
    --color-base-950: rgb(210, 183, 183);
    --color-base-1000: rgb(172, 143, 143);
  
    --color-success-50: rgb(55, 133, 94);
    --color-success-100: rgb(55, 133, 94);
    --color-success-150: rgb(55, 133, 94);
    --color-success-200: rgb(55, 133, 94);
    --color-success-250: rgb(55, 133, 94);
    --color-success-300: rgb(55, 133, 94);
    --color-success-350: rgb(55, 133, 94);
    --color-success-400:rgb(55, 133, 94);
    --color-success-450: rgb(55, 133, 94);
    --color-success-500: rgb(55, 133, 94);
    --color-success-550: rgb(55, 133, 94);
    --color-success-600:rgb(55, 133, 94);
    --color-success-650: rgb(55, 133, 94);
    --color-success-700: rgb(55, 133, 94);
    --color-success-750: rgb(55, 133, 94);
    --color-success-800:rgb(55, 133, 94);
    --color-success-850: rgb(55, 133, 94);
    --color-success-900: rgb(55, 133, 94);
    --color-success-950: rgb(55, 133, 94);
    
    --color-warning-50: rgb(255, 255, 246);
    --color-warning-100: rgb(255, 255, 237);
    --color-warning-150: rgb(254, 255, 228);
    --color-warning-200: rgb(254, 255, 219);
    --color-warning-250: rgb(254, 255, 210);
    --color-warning-300: rgb(254, 255, 200);
    --color-warning-350: rgb(254, 255, 191);
    --color-warning-400: rgb(253, 255, 182);
    --color-warning-450: rgb(253, 255, 173);
    --color-warning-500: rgb(253, 255, 164);
    --color-warning-550: rgb(228, 230, 148);
    --color-warning-600: rgb(202, 204, 131);
    --color-warning-650: rgb(177, 179, 115);
    --color-warning-700: rgb(152, 153, 98);
    --color-warning-750: rgb(127, 128, 82);
    --color-warning-800: rgb(101, 102, 66);
    --color-warning-850: rgb(76, 77, 49);
    --color-warning-900: rgb(51, 51, 33);
    --color-warning-950: rgb(25, 25, 16);
  
    --color-error-50:rgb(188, 29, 39);
    --color-error-100: rgb(188, 29, 39);
    --color-error-150: rgb(188, 29, 39);
    --color-error-200: rgb(188, 29, 39);
    --color-error-250:rgb(188, 29, 39);
    --color-error-300:rgb(188, 29, 39);
    --color-error-350: rgb(188, 29, 39);
    --color-error-400: rgb(188, 29, 39);
    --color-error-450: rgb(188, 29, 39);
    --color-error-500: rgb(188, 29, 39);
    --color-error-550: rgb(188, 29, 39);
    --color-error-600: rgb(188, 29, 39);
    --color-error-650: rgb(188, 29, 39);
    --color-error-700: rgb(188, 29, 39);
    --color-error-750: rgb(188, 29, 39);
    --color-error-800: rgb(188, 29, 39);
    --color-error-850: rgb(188, 29, 39);
    --color-error-900: rgb(188, 29, 39);
    --color-error-950: rgb(188, 29, 39);
  
    --theme-success-50: var(--color-success-50);
    --theme-success-100: var(--color-success-100);
    --theme-success-150: var(--color-success-150);
    --theme-success-200: var(--color-success-200);
    --theme-success-250: var(--color-success-250);
    --theme-success-300: var(--color-success-300);
    --theme-success-350: var(--color-success-350);
    --theme-success-400: var(--color-success-400);
    --theme-success-450: var(--color-success-450);
    --theme-success-500: var(--color-success-500);
    --theme-success-550: var(--color-success-550);
    --theme-success-600: var(--color-success-600);
    --theme-success-650: var(--color-success-650);
    --theme-success-700: var(--color-success-700);
    --theme-success-750: var(--color-success-750);
    --theme-success-800: var(--color-success-800);
    --theme-success-850: var(--color-success-850);
    --theme-success-900: var(--color-success-900);
    --theme-success-950: var(--color-success-950);
  
    --theme-warning-50: var(--color-warning-50);
    --theme-warning-100: var(--color-warning-100);
    --theme-warning-150: var(--color-warning-150);
    --theme-warning-200: var(--color-warning-200);
    --theme-warning-250: var(--color-warning-250);
    --theme-warning-300: var(--color-warning-300);
    --theme-warning-350: var(--color-warning-350);
    --theme-warning-400: var(--color-warning-400);
    --theme-warning-450: var(--color-warning-450);
    --theme-warning-500: var(--color-warning-500);
    --theme-warning-550: var(--color-warning-550);
    --theme-warning-600: var(--color-warning-600);
    --theme-warning-650: var(--color-warning-650);
    --theme-warning-700: var(--color-warning-700);
    --theme-warning-750: var(--color-warning-750);
    --theme-warning-800: var(--color-warning-800);
    --theme-warning-850: var(--color-warning-850);
    --theme-warning-900: var(--color-warning-900);
    --theme-warning-950: var(--color-warning-950);
  
    --theme-error-50: var(--color-error-50);
    --theme-error-100: var(--color-error-100);
    --theme-error-150: var(--color-error-150);
    --theme-error-200: var(--color-error-200);
    --theme-error-250: var(--color-error-250);
    --theme-error-300: var(--color-error-300);
    --theme-error-350: var(--color-error-350);
    --theme-error-400: var(--color-error-400);
    --theme-error-450: var(--color-error-450);
    --theme-error-500: var(--color-error-500);
    --theme-error-550: var(--color-error-550);
    --theme-error-600: var(--color-error-600);
    --theme-error-650: var(--color-error-650);
    --theme-error-700: var(--color-error-700);
    --theme-error-750: var(--color-error-750);
    --theme-error-800: var(--color-error-800);
    --theme-error-850: var(--color-error-850);
    --theme-error-900: var(--color-error-900);
    --theme-error-950: var(--color-error-950);
  
    --theme-elevation-0: white;
    --theme-elevation-50: rgb(209, 214, 214)
    --theme-elevation-100: var(--color-base-100);
    --theme-elevation-150: var(--color-base-150);
    --theme-elevation-200: var(--color-base-200);
    --theme-elevation-250: var(--color-base-250);
    --theme-elevation-300: var(--color-base-300);
    --theme-elevation-350: var(--color-base-350);
    --theme-elevation-400: var(--color-base-400);
    --theme-elevation-450: var(--color-base-450);
    --theme-elevation-500: var(--color-base-500);
    --theme-elevation-550: var(--color-base-550);
    --theme-elevation-600: var(--color-base-600);
    --theme-elevation-650: var(--color-base-650);
    --theme-elevation-700: var(--color-base-700);
    --theme-elevation-750: var(--color-base-750);
    --theme-elevation-800: var(--color-base-800);
    --theme-elevation-850: var(--color-base-850);
    --theme-elevation-900: var(--color-base-900);
    --theme-elevation-950: var(--color-base-950);
    --theme-elevation-1000: var(--color-base-1000);
  }
  
  html[data-theme=dark] {
    --theme-elevation-0: white;
    --theme-elevation-50: var(--color-base-850);
    --theme-elevation-100: var(--color-base-800);
    --theme-elevation-150: var(--color-base-750);
    --theme-elevation-200: var(--color-base-700);
    --theme-elevation-250: var(--color-base-650);
    --theme-elevation-300: var(--color-base-600);
    --theme-elevation-350: var(--color-base-550);
    --theme-elevation-400: var(--color-base-450);
    --theme-elevation-450: var(--color-base-400);
    --theme-elevation-550: var(--color-base-350);
    --theme-elevation-600: var(--color-base-300);
    --theme-elevation-650: var(--color-base-250);
    --theme-elevation-700: var(--color-base-200);
    --theme-elevation-750: var(--color-base-150);
    --theme-elevation-800: var(--color-base-100);
    --theme-elevation-850: var(--color-base-50);
    --theme-elevation-900: var(--color-base-0);
    --theme-elevation-950: var(--color-base-0);
    --theme-elevation-1000: var(--color-base-0);
  
    --theme-success-50: var(--color-success-950);
    --theme-success-100: var(--color-success-900);
    --theme-success-150: var(--color-success-850);
    --theme-success-200: var(--color-success-800);
    --theme-success-250: var(--color-success-750);
    --theme-success-300: var(--color-success-700);
    --theme-success-350: var(--color-success-650);
    --theme-success-400: var(--color-success-600);
    --theme-success-450: var(--color-success-550);
    --theme-success-550: var(--color-success-450);
    --theme-success-600: var(--color-success-400);
    --theme-success-650: var(--color-success-350);
    --theme-success-700: var(--color-success-300);
    --theme-success-750: var(--color-success-250);
    --theme-success-800: var(--color-success-200);
    --theme-success-850: var(--color-success-150);
    --theme-success-900: var(--color-success-100);
    --theme-success-950: var(--color-success-50);
  
    --theme-warning-50: var(--color-warning-950);
    --theme-warning-100: var(--color-warning-900);
    --theme-warning-150: var(--color-warning-850);
    --theme-warning-200: var(--color-warning-800);
    --theme-warning-250: var(--color-warning-750);
    --theme-warning-300: var(--color-warning-700);
    --theme-warning-350: var(--color-warning-650);
    --theme-warning-400: var(--color-warning-600);
    --theme-warning-450: var(--color-warning-550);
    --theme-warning-550: var(--color-warning-450);
    --theme-warning-600: var(--color-warning-400);
    --theme-warning-650: var(--color-warning-350);
    --theme-warning-700: var(--color-warning-300);
    --theme-warning-750: var(--color-warning-250);
    --theme-warning-800: var(--color-warning-200);
    --theme-warning-850: var(--color-warning-150);
    --theme-warning-900: var(--color-warning-100);
    --theme-warning-950: var(--color-warning-50);
  
    --theme-error-50: var(--color-error-950);
    --theme-error-100: var(--color-error-900);
    --theme-error-150: var(--color-error-850);
    --theme-error-200: var(--color-error-800);
    --theme-error-250: var(--color-error-750);
    --theme-error-300: var(--color-error-700);
    --theme-error-350: var(--color-error-650);
    --theme-error-400: var(--color-error-600);
    --theme-error-450: var(--color-error-550);
    --theme-error-550: var(--color-error-450);
    --theme-error-600: var(--color-error-400);
    --theme-error-650: var(--color-error-350);
    --theme-error-700: var(--color-error-300);
    --theme-error-750: var(--color-error-250);
    --theme-error-800: var(--color-error-200);
    --theme-error-850: var(--color-error-150);
    --theme-error-900: var(--color-error-100);
    --theme-error-950: var(--color-error-50);
  }