/* .Dashboard{
    position: relative;
    padding-top: 10%;    
    padding-left: 2%;
    background-color:#063970;
}
.dropbtn {
    background-color:rgb(219, 215, 215);
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    /* min-width: 160px; */
    /* width: 160px; */

  /* } */
  
  /* .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(219, 215, 215);
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  } */
  
  /* .dropdown-content a:hover {background-color: #f1f1f1} */
  
  /* .dropdown:hover .dropdown-content {
    display: block;

  } */
  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .Dashboard .nav__controls{
    position: absolute;
    bottom: 0;
    display: block;
    padding-bottom:35%;
  }  */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }
 
 body{
  min-height: 100vh;
  background: white;
  color: white;
  background-size: cover;
  background-position: center;
 }
 
 .side-bar{
  background: #1b1a1b;
  backdrop-filter: blur(15px);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
 }
 .side-bar::-webkit-scrollbar {
   width: 0px;
 }
 
 
 
 .side-bar.active{
  left: 0;
 }
 h1{
 
   text-align: center;
   font-weight: 500;
   font-size: 25px;
   padding-bottom: 13px;
   font-family: sans-serif;
   letter-spacing: 2px;
 }
 
 .side-bar .menu{
  width: 100%;
  margin-top: 30px;
 }
 
 .side-bar .menu .item{
  position: relative;
  cursor: pointer;
 }
 
 .side-bar .menu .item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
 }
 
 .side-bar .menu .item a:hover{
  background: #33363a;
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item i{
  margin-right: 15px;
 }
 
 .side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item .sub-menu{
  background: #262627;
  display: none;
 }
 
 .side-bar .menu .item .sub-menu a{
  padding-left: 80px;
 }
 
 .rotate{
  transform: rotate(90deg);
 }
 
 .close-btn{
  position: absolute;
  color: #fff;
 
  font-size: 23px;
  right:  0px;
  margin: 15px;
  cursor: pointer;
 }
 
 .menu-btn{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 25px;
  cursor: pointer;
 }
 
 .main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
 }
 
 .main h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  line-height: 80px;
 }
 
 @media (max-width: 900px){
  .main h1{
    font-size: 40px;
    line-height: 60px;
  }
 }
 img{
   width: 100px;
   margin: 15px;
   border-radius: 50%;
   margin-left: 70px;
   border: 3px solid #b4b8b9;
 }
 header{
   background: #33363a;
 } */

 /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  padding-left: 50px;
} */
.sidebar{
  background-color: rgb(97, 126, 162);
}
.logo{
  margin-top: 30%;
  margin-left: 23%;
  
}
.logout{
  margin-top: 60%;
  position:absolute;
  margin-left: -13%;
}
a{
  text-decoration: none
}